body {
    margin: 0;
}
main {
    overflow: hidden;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
ul, li {
    display: block;
}


.area-top, .area-third {
    position: relative;
    height: fit-content;
    width: 100%;
}
.area-top {
    height: 100vh;
    background: rgba(255, 255, 255, 0.5) center/cover url("../img/toppage_first_background.jpg");
    background-blend-mode: overlay;
}

.area-top span {
    white-space: nowrap;
    margin-bottom: 8em;
}

.area-top ul {
    position: absolute;
    margin: 0;
    padding: 0;
}
.area-top li {
    padding-top: 5px;
    padding-left: 2em;
}
.area-top li:first-child {
    padding-top: 2em;
}
.list-page_link {
    color: black;
}
.list-display_size {
    color: #D0CFD1;
}
.area-top span {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
}

.area-second::after {
    right: -40%;
    bottom: 0;
}

.area-second-news {
    text-align: left;
    padding: 2em;
}
.area-second-news ul {
    padding: 0;
    margin: 0;
}
.area-second-news li {
    display: block;
    font-size: 16px;
}
.area-second-news li:not(:first-child) {
    margin-top: 1em;
}
.area-second-news li a {
    display: flex;
    justify-content: right;
}
.area-second-news li a div:first-child {
    margin: 0 5% 0 0;
}
.area-second-news li a div:not(:first-child){
    word-wrap: anywhere;
}

.area-second-whats_kobushi {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    background: rgba(255, 255, 255, 0.7) url("../img/toppage_second_side.jpg") center/cover;
    background-blend-mode: overlay;
    padding: 3em 1em;
    text-align: center;
}
.area-second-whats_kobushi::before {
    position: absolute;
    content: "";
    z-index: 1;
}
.area-second-whats_kobushi span {
    font-size: 18px;
    text-decoration: underline;
    margin-bottom: 1em;
}
.area-second-whats_kobushi .wrapper {
    display: flex;
    flex-direction: column;
}
.area-second-whats_kobushi .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.area-second-whats_kobushi .text-box div {
    font-weight: normal;
    font-size: 28px;
    margin: 0;
    text-align: center;
}
.area-second-whats_kobushi .text-box p {
    font-size: 16px;
    padding: 0 2em;
    text-align: center;
    overflow-wrap: anywhere;
}
.area-second-whats_kobushi .image {
    visibility: hidden;
}
.area-second-whats_kobushi a {
    text-align: center;
    font-size: 24px;
}


.area-third {
    background: rgba(255, 255, 255, 0.7) url("../img/toppage_third_background.jpg") center/cover;
    background-blend-mode: overlay;
}
.area-third .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3em 0;
    height: fit-content;
}
.area-third .text-box div {
    font-size: 24px;
}
.area-third .text-box p {
    padding: 0 3em;
}
.area-third .text-box a {
    font-size: 24px;
}

.area-fourth {
    position: relative;
    height: auto;
    padding-top: 1em;
    text-align: center;
}
.area-fourth::before, .area-fourth::after {
    content: "";
    display: block;
    height: auto;
    aspect-ratio: 1;
    position: absolute;
    border-radius: 100%;
    z-index: -2;

    top: 40px;
    left: -570px;

}

.area-fourth::before {
    width: 410px;
    background-color: #E1BCF3;

    box-shadow: 410px 0 #E1BCF3,
                750px 600px #E1BCF3,
                410px 1200px #E1BCF3;
}
.area-fourth::after {
    width: 330px;
    background-color: white;
    transform: translate(40px, 40px);

    box-shadow: 410px 0 white,
                750px 600px white,
                410px 1200px white;
}
.area-fourth span:first-child {
    margin: 20px 0 40px;
}
.area-fourth span {
    display: block;
    margin: 8px 0 1px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}

.area-fourth .wrapper {
    width: 90%;
    height: fit-content;
    margin: 1em 0 0 5%;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 1em;

}
.area-fourth .container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.container p {
    margin: 6px;
    font-size: 12px;
    text-align: center;
}
.container img {
    width: 80%;
}

.area-fourth a {
    display: block;
    font-size: 20px;
    margin: 1em auto 2em
}


footer {
    width: 100%;
    height: 160px;
    background-color: #840FB1;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    padding: 1em;

    color: white;
}
footer li:not(:first-child) {
    margin-top: 4px;
}
footer span {
    margin-top: 18px;
    font-size: 20px;
}
footer a {
    color: white;
    font-size: 20px;
}




@media (min-width: 481px) {

}
@media (min-width: 960px) {
    .area-second, .area-fourth {
        position: relative;
        width: 100%;
        padding: 3em 3em 2em 2em;
    }
    .area-second::after, .area-fourth::after {
        content: "";
        position: absolute;
        z-index: -1;
        height: 110%;
        width: auto;
        aspect-ratio: 1;
        border: #E1BCF3 solid 150px;
        border-radius: 100%;
    }

    .area-top {
        background: rgba(255, 255, 255, 0.5) url("../img/toppage_first_background.jpg") center/100vw 100vh;
        background-size: cover;
        background-blend-mode: overlay;
    }
    .area-top span {
        margin-bottom: 0;
    }
    .area-top li {
        padding-top: 12px;
    }

    .area-second-news {
        padding: 0;
    }
    .area-second span {
        margin-right: auto;
    }
    .area-second-news ul {
        margin: 0 0 0 0;
    }
    .area-second-news li {
        display: block;
        font-size: 16px;
    }
    .area-second-news li:not(:first-child) {
        margin-top: 1em;
    }
    .area-second-news li div:first-child {
        margin-left: 1em;
        margin-right: 10%;
    }
    .area-second-news li a {
        display: flex;
        justify-content: right;
    }

    .area-second-whats_kobushi {
        position: relative;
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        margin-top: 4em;

        background: none;
    }



    .area-second-whats_kobushi .wrapper {
        position: relative;
        height: 85%;
        /*width: 100%;*/


    }
    .area-second-whats_kobushi .text-box {
        grid-area: text;
    }
    .area-second-whats_kobushi .text-box div {
        font-weight: normal;
        font-size: 36px;
        margin: 0;
    }
    .area-second-whats_kobushi .text-box p {
        margin-top: 2em;
        padding-right: 1em;
        font-size: 20px;
    }
    .area-second-whats_kobushi a {
        grid-area: show_more;
        margin: 0 2em 0 auto;
        font-size: 28px;
    }
    .area-second-whats_kobushi .image {
        visibility: visible;
        grid-area: img;
        background-image: url("../img/toppage_second_side.jpg");
        background-size: cover;
    }

    .area-third {
        position: relative;
        background: center/100vw 100vh url("../img/toppage_third_background.jpg");
    }
    .area-third .text-box {
        position: absolute;
        height: 80%;
        width: 50%;
        top: 10%;
        right: 0;
        padding: 4em;
        background-color: rgba(255, 255, 255, 0.6);
    }
    .area-third a {
        float: right;
        margin-right: 1em;
        font-size: 26px;
    }

    /*.area-second-whats_kobushi .wrapper {*/
    /*    position: relative;*/
    /*    height: 85%;*/
    /*    width: 100%;*/
    /*    !*left: 5%;*!*/

    /*    display: grid;*/
    /*    grid:*/
    /*    "......... img" 1em*/
    /*    "......... img" 20%*/
    /*    "text      img" auto*/
    /*    "......... img" 20%*/
    /*    "show_more img" 2em*/
    /*    "......... img" 2em*/
    /*    / 45%  55%;*/
    /*}*/
    /*.area-second-whats_kobushi .text-box {*/
    /*    grid-area: text;*/
    /*}*/
    /*.area-second-whats_kobushi .text-box div {*/
    /*    font-weight: normal;*/
    /*    font-size: 36px;*/
    /*    margin: 0;*/
    /*}*/
    /*.area-second-whats_kobushi .text-box p {*/
    /*    margin-top: 2em;*/
    /*    padding-right: 1em;*/
    /*    font-size: 20px;*/
    /*}*/
    /*.area-second-whats_kobushi a {*/
    /*    grid-area: show_more;*/
    /*    margin: 0 2em 0 auto;*/
    /*    font-size: 28px;*/
    /*}*/
    /*.area-second-whats_kobushi .image {*/
    /*    visibility: visible;*/
    /*    grid-area: img;*/
    /*    background-image: url("../img/toppage_second_side.jpg");*/
    /*    background-size: cover;*/
    /*}*/

    /*.area-third {*/
    /*    position: relative;*/
    /*    background: center/100vw 100vh url("../img/toppage_third_background.jpg");*/
    /*}*/
    /*.area-third .text-box {*/
    /*    position: absolute;*/
    /*    height: 80%;*/
    /*    width: 50%;*/
    /*    top: 10%;*/
    /*    right: 0;*/
    /*    padding: 4em;*/
    /*    background-color: rgba(255, 255, 255, 0.6);*/
    /*}*/
    /*.area-third a {*/
    /*    float: right;*/
    /*    margin-right: 1em;*/
    /*    font-size: 26px;*/
    /*}*/


    .area-fourth::before {
        left: -45%;
        bottom: 5%;
    }
    .area-fourth .wrapper {
        width: 100%;
        height: fit-content;
        margin-top: 3em;

        display: flex;
        justify-content: space-around;
        row-gap: 4em;
        flex-wrap: wrap;
    }
    .area-fourth .container {
        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: center;
    }
    .container span {
        display: block;
        margin: 8px 0 16px;
        font-size: 19px;
        text-decoration: none;
    }
    .container p {
        margin: 0;
        font-size: 12px;
        text-align: center;
    }
    .container img {
        width: 60%;
    }

    .area-fourth a {
        display: block;
        position: relative;
        text-align: center;
        font-size: 20px;
        margin-top: 3em;
    }

    footer {
        width: 100%;
        height: 192px;
        background-color: #840FB1;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        padding: 2em 8em;

        color: white;
    }
    footer li:not(:first-child) {
        margin-top: 4px;
    }
    footer a {
        color: white;
        font-size: 20px;
    }



    /*body {*/
    /*    margin: 0;*/
    /*}*/
    /*main {*/
    /*    overflow: hidden;*/
    /*}*/
    /** {*/
    /*    box-sizing: border-box;*/
    /*}*/
    /*a {*/
    /*    text-decoration: none;*/
    /*    color: black;*/
    /*}*/
    /*ul, li {*/
    /*    display: block;*/
    /*}*/


    /*.size-display {*/
    /*    position: relative;*/
    /*    height: 100vh;*/
    /*    width: 100%;*/
    /*}*/
    /*.size-content {*/
    /*    position: relative;*/
    /*    width: 100%;*/
    /*    padding: 4em 3em 2em 6em;*/
    /*}*/
    /*.size-content::after {*/
    /*    content: "";*/
    /*    position: absolute;*/
    /*    z-index: -1;*/
    /*    height: 110%;*/
    /*    width: auto;*/
    /*    aspect-ratio: 1;*/
    /*    border: #E1BCF3 solid 150px;*/
    /*    border-radius: 100%;*/
    /*}*/

    /*span {*/
    /*    display: block;*/
    /*    margin-bottom: 0;*/
    /*}*/
    /*.text-box span {*/
    /*    font-weight: normal;*/
    /*    font-size: 40px;*/
    /*    margin: 0;*/
    /*}*/
    /*.text-box p {*/
    /*    margin-top: 2em;*/
    /*    padding-right: 1em;*/
    /*    font-size: 20px;*/
    /*}*/


    /*.area-top {*/
    /*    background: center/100vw 100vh url("../img/toppage_first_background.jpg");*/
    /*}*/
    /*.area-top::before {*/
    /*    position: absolute;*/
    /*    content: "";*/
    /*    height: 100%;*/
    /*    width: 100%;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*    background-color: rgba(255, 255, 255, 0.5);*/
    /*}*/
    /*.area-top ul {*/
    /*    position: absolute;*/
    /*    margin: 0;*/
    /*    padding: 0;*/
    /*}*/
    /*.area-top li {*/
    /*    padding-top: 5px;*/
    /*    padding-left: 2em;*/
    /*}*/
    /*.area-top li:first-child {*/
    /*    padding-top: 2em;*/
    /*}*/
    /*.list-page_link {*/
    /*    color: black;*/
    /*}*/
    /*.list-display_size {*/
    /*    color: #D0CFD1;*/
    /*}*/
    /*.area-top span {*/
    /*    position: absolute;*/
    /*    bottom: 0;*/
    /*    left: 50%;*/
    /*    transform: translateX(-50%);*/
    /*    font-size: 32px;*/
    /*}*/


    /*.area-second::after {*/
    /*    right: -40%;*/
    /*    bottom: 0;*/
    /*}*/

    /*.area-second-news {*/
    /*    text-align: right;*/
    /*}*/
    /*.area-second-news ul {*/
    /*    margin: -1em 4em 0 0;*/
    /*}*/
    /*.area-second-news li {*/
    /*    display: block;*/
    /*    font-size: 20px;*/
    /*}*/
    /*.area-second-news li:not(:first-child) {*/
    /*    margin-top: 1em;*/
    /*}*/


    /*.area-second-whats_kobushi {*/
    /*    position: relative;*/
    /*    width: 100%;*/
    /*    height: auto;*/
    /*    aspect-ratio: 16/9;*/
    /*    margin-top: 4em;*/
    /*    !*padding: 4em 3em 2em 6em;*!*/
    /*}*/
    /*.area-second-whats_kobushi .wrapper {*/
    /*    position: relative;*/
    /*    height: 85%;*/
    /*    width: 90%;*/
    /*    left: 5%;*/

    /*    display: grid;*/
    /*    grid:*/
    /*    "......... img" 1em*/
    /*    "......... img" 20%*/
    /*    "text      img" auto*/
    /*    "......... img" 20%*/
    /*    "show_more img" 2em*/
    /*    "......... img" 2em*/
    /*    / 45%  55%;*/
    /*}*/
    /*.area-second-whats_kobushi .text-box {*/
    /*    grid-area: text;*/
    /*}*/
    /*.area-second-whats_kobushi a {*/
    /*    grid-area: show_more;*/
    /*    margin: 0 2em 0 auto;*/
    /*    font-size: 28px;*/
    /*}*/
    /*.area-second-whats_kobushi .image {*/
    /*    grid-area: img;*/
    /*    background-image: url("../img/toppage_second_side.jpg");*/
    /*    background-size: cover;*/

    /*}*/

    /*.area-third {*/
    /*    position: relative;*/
    /*    background: center/100vw 100vh url("../img/toppage_third_background.jpg");*/
    /*}*/
    /*.area-third .text-box {*/
    /*    position: absolute;*/
    /*    height: 80%;*/
    /*    width: 50%;*/
    /*    top: 10%;*/
    /*    right: 0;*/
    /*    padding: 4em;*/
    /*    background-color: rgba(255, 255, 255, 0.6);*/
    /*}*/
    /*.area-third a {*/
    /*    float: right;*/
    /*    margin-right: 1em;*/
    /*    font-size: 26px;*/
    /*}*/


    /*.area-fourth::after {*/
    /*    left: -45%;*/
    /*    bottom: 5%;*/
    /*}*/
    /*.area-fourth .wrapper {*/
    /*    width: 100%;*/
    /*    height: fit-content;*/
    /*    margin-top: 3em;*/

    /*    display: flex;*/
    /*    justify-content: space-around;*/
    /*    row-gap: 4em;*/
    /*    flex-wrap: wrap;*/
    /*}*/
    /*.area-fourth .container {*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    width: 40%;*/
    /*    align-items: center;*/
    /*}*/
    /*.container span {*/
    /*    margin: 8px 0 16px;*/
    /*    font-size: 19px;*/
    /*    text-decoration: none;*/
    /*}*/
    /*.container p {*/
    /*    margin: 0;*/
    /*    font-size: 12px;*/
    /*    text-align: center;*/
    /*}*/
    /*.container img {*/
    /*    width: 60%;*/
    /*}*/

    /*.area-fourth a {*/
    /*    display: block;*/
    /*    position: relative;*/
    /*    text-align: center;*/
    /*    font-size: 20px;*/
    /*    margin-top: 3em;*/
    /*}*/

    /*footer {*/
    /*    width: 100%;*/
    /*    height: 192px;*/
    /*    background-color: #840FB1;*/

    /*    display: flex;*/
    /*    justify-content: space-between;*/
    /*    align-items: flex-start;*/

    /*    padding: 2em 8em;*/

    /*    color: white;*/
    /*}*/
    /*footer li:not(:first-child) {*/
    /*    margin-top: 4px;*/
    /*}*/
    /*footer a {*/
    /*    color: white;*/
    /*    font-size: 20px;*/
    /*}*/

}
